@tailwind base;
@tailwind components;
@tailwind utilities;

/* small helpers for Ionic + Tailwind */
html, body, #root {
  height: 100%;
}

.bg-primary {
  background-color: var(--ion-color-primary);
}
.bg-warning {
  background-color: var(--ion-color-warning);
}
.bg-success {
  background-color: var(--ion-color-success);
}
.bg-light {
  background-color: var(--ion-color-light);
}
.bg-light-tint {
  background-color: var(--ion-color-light-tint);
}
.bg-white {
  background-color: var(--ion-color-white);
}
.bg-dark {
  background-color: var(--ion-color-dark);
}
.text-meduim{
  color: var(--ion-color-meduim);
}
.text-dark {
  color: var(--ion-color-dark);
}
.text-light {
  color: var(--ion-color-light);
}
.border-primary {
  border-color: var(--ion-color-primary);
}
.bg-tertiary-tint{
  background-color: var(--ion-color-tertiary-tint);
}
.text-bold {
  font-weight: bold;
}
.text-sm {
  font-size: 0.875rem;
}
.text-2xs {
  font-size: 0.625rem;
}
.text-xs {
  font-size: 0.75rem;
}
.text-md {
  font-size: 1rem;
}
.text-lg {
  font-size: 1.125rem;
}
.text-xl {
  font-size: 1.25rem;
}
.text-2xl {
  font-size: 1.5rem;
}
.text-3xl {
  font-size: 1.875rem;
}
.text-4xl {
  font-size: 2.25rem;
}



html.scanning,
body.scanning,
ion-app.scanning,
ion-content.scanning,
.ion-page.scanning,
ion-page.scanning {
  background: transparent !important;
}

ion-content.scanning {
  --background: transparent !important;
  --ion-background-color: transparent !important;
}

/* ซ่อน tab bar ตอนสแกน (แนะนำที่สุดสำหรับ tabs) */
ion-tab-bar.scanning {
  display: none !important;
}

/* ถ้า header ยังทึบ ให้ทำโปร่งใสด้วย */
ion-header.scanning,
ion-toolbar.scanning {
  --background: transparent !important;
  background: transparent !important;
}